body{
    background-color: #ffffcc;
}

h1{
    text-align: center;
}

#logoHeader{
    float:left;
    width: 100px;
    height: 100px;
    margin: 15px 50px;    
}

#tituloHeader{
    font-size: 50px;
    float: left;    
    font-family: 'Times New Roman', Times, serif;
}

#botonesHeader{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

#menuHeader{
    clear: both;
    width: 95%;
    height: 50px;
    background-color: black;    
    margin: 0 auto;
}

#menuHeader a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.contenedoresPrincipales{
    width: 25%;
    height: 300px;
    float: left;
    margin-left: 6%;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
    text-align: center;
    margin-top: 10px;
}

.contenedoresPrincipales img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.contenedoresPrincipales img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
  }

.logo{
    width: 250px;
    height: 250px;
    margin: auto;
}

.logo img{
    width: 250px;
    height: 250px;    
}

#login{
    font-family: arial; 
    width: 400px;    
    margin: auto;    
    background-color: white;   
    padding: 30px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    margin-bottom: 30px;
}

#login h1{
    margin: 10px;
    text-align: center;
}

#login input{
    display: block;
    width: 300px;    
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    color: black;
    background-color: #f5c90044;
}

#login #btnAcceder{
    float: right;
    margin-right: 50px;    
    width: 150px;
    height: 50px;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);    
}

#login a{
    color: black;
}

#registro{
    font-family: arial; 
    width: 400px;    
    margin: auto;    
    background-color: white;    
    padding: 30px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    margin-bottom: 30px;
}

#registro h1{
    margin: 10px;
    text-align: center;
}

#registro input{
    display: block;
    width: 300px;    
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    color: black;
    background-color: #f5c90044;
}

#registro #btnRegistrar{
    float: right;
    margin-right: 50px;
    width: 150px;
    height: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);    
}

.producto h1{
    font-size: 16px;
    font-weight: bold;
}

.producto{
    margin: 15px;
    padding: 10px;
    width: 25rem;
    height: 13rem;
    background-color: white;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 1s;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

.producto img{
    width: 10rem;
    height: 10rem;
    float: left;
    margin: 5px;
    -webkit-user-drag: none;
}

.producto *{
    margin: 5px;
    text-align: center;
    margin-top: 20px;
}

#carrito{
    font-family: arial; 
    width: 400px;    
    margin: auto;    
    background-color: white;    
    padding: 30px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#carrito table tr{
    border-bottom: 1px solid black;
    height: 30px;
}

#carrito table td{
    padding: 0 10px;
}

#carrito table input{
    width: 50px;
}

#carrito #total{
    margin-top: 15px;
    text-align: right;
    font-size: 30px;
}

#carrito textarea{
    width: 90%;
    height: 50px;
}

#misPedidos{        
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
}

#misPedidos th{        
    background-color: black;
    color: white;    
}

#misPedidos tr:nth-child(odd){
    background-color: white;
    color: black;
}

#misPedidos tr:nth-child(even){
    background-color: blanchedalmond;
    color: black;
}

#administrarProductos{
    text-align: center;
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
}

#administrarProductos th{        
    background-color: black;
    color: white;    
}

#administrarProductos tr:nth-child(odd){
    background-color: white;
    color: black;
}

#administrarProductos tr:nth-child(even){
    background-color: blanchedalmond;
    color: black;
}

#administrarProductos img{
    width: 75px;
    height: 75px;
}

#administrarProductos input[type='number']{
    width: 60px;
}