/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2019, 07:32:41 PM
    Author     : jesus
*/
html{
        height:100%;
        width:100%;
    }
body{
    background-size: contain;
    background-image: url(ocarina.jpg);
    background-repeat: no-repeat;    
    transition: background-image 2s;
}
#contenedor{
    background-color: white;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
    opacity:0.6;
    align-items: center;
    position: relative;
    -webkit-transition: top 2s, left 2s;
    transition: top 2s, left 2s;
}

#info{
    height: 90px;
    overflow: hidden;
}

#botones{
    text-align: center
    
}