
body{
    background-image: url("camaro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 2s;
}
#desc{
    height: 80px;
    overflow: hidden;
}

#cuadro{
    border: black 2px solid;
    background-color: #FFFFFF77;
    color: white;
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    transition: top 2s, left 2s;
}
#cuadro{
    text-align: center;
}