
body{
    background-image: url("camaro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#desc{
    height: 80px;
    overflow: hidden;
}

#cuadro{
    border: black 2px solid;
    background-color: #FFFFFF77;
    color: white;
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
}

#cuadro{
    text-align: center;
}